<ion-view view-title="Add question">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Question</span>
                <input type="text" ng-model="model.question" placeholder="Fill question">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Answer 1</span>
                <input type="text" ng-model="model.answer1" placeholder="Fill answer 1">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Answer 2</span>
                <input type="text" ng-model="model.answer2" placeholder="Fill answer 2">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Answer 3</span>
                <input type="text" ng-model="model.answer3" placeholder="Fill answer 3">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Answer 4</span>
                <input type="text" ng-model="model.answer4" placeholder="Fill answer 4">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Correct Answer</span>
                <input type="number" ng-model="model.correctAnswer" min="1" max="4" placeholder="Select from 1 to 4">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Seconds to answer the question</span>
                <input type="number" ng-model="model.timeToAnswer">
            </label>
            Test type:
            <input type="checkbox" id="training" ng-model="model.training" value="training">
            <label for="cbox2">For training</label>
            <input type="checkbox" id="realTest" ng-model="model.test" value="realTest">
            <label for="cbox2">For real test</label>
        </div>
        <div>
            <label class="item item-input item-stacked-label">
                Select image and/or video for the question:
                <input type="file" nv-file-select="" uploader="uploader" multiple />
                <br/>
                <table class="table">
                    Files uploaded:
                    <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th ng-show="uploader.isHTML5">Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </label>
            <div class="row">
                <div class="col col-33">
                    <button type="button" class="button button-block button-calm" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                        Upload all
                    </button>
                </div>
                <div class="col col-33">
                    <button type="button" class="button button-block button-energized" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                        Cancel all
                    </button>
                </div>
                <div class="col col-33">
                    <button type="button" class="button button-block button-assertive" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                        Remove all
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
