<ion-view view-title="Add question">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Question</span>
                <input type="text" ng-model="model.question" placeholder="Fill question">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Answer 1</span>
                <input type="text" ng-model="model.answer1" placeholder="Fill answer 1">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Answer 2</span>
                <input type="text" ng-model="model.answer2" placeholder="Fill answer 2">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Answer 3</span>
                <input type="text" ng-model="model.answer3" placeholder="Fill answer 3">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Answer 4</span>
                <input type="text" ng-model="model.answer4" placeholder="Fill answer 4">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Correct Answer</span>
                <input type="number" ng-model="model.correctAnswer" min="1" max="4" placeholder="Select from 1 to 4">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Seconds to answer the question</span>
                <input type="number" ng-model="model.timeToAnswer">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Audio</span>
                <input type="file" ng-model="model.file" id="file" name="file">
            </label>
            <input type="checkbox" id="training" ng-model="model.training" value="training">
            <label for="cbox2">For training</label>
            <input type="checkbox" id="realTest" ng-model="model.test" value="realTest">
            <label for="cbox2">For real test</label>
        </div>
        <button class="button button-block button-calm" ng-click="addQuestion()">
            Add
        </button>
        <button ng-click="upload()">PRUEBa</button>
        <!--  <form>
                Single Image with validations
            <input 
               type="file" 
               ngf-select 
               ng-model="up.file" 
               name="file" 
               ngf-pattern="'image/*'"
               accept="image/*" 
               ngf-max-size="20MB" 
               />
            Image thumbnail: <img style="width:100px;" ngf-thumbnail="up.file || '/thumb.jpg'"/>
            <i ng-show="up.upload_form.file.$error.required">*required</i><br>
            <i ng-show="up.upload_form.file.$error.maxSize">File too large 
            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
            <button type="submit" ng-click="up.submit()">submit</button>
            <p>{{up.progress}}
        </form> -->
    </ion-content>
</ion-view>
