<ion-view view-title="Test">
    <ion-content>
        <div class="list" ng-show="choose">
            <div class="item item-divider item-text-wrap">
                Please choose a type of test
            </div>
            <div class="item item-text-wrap" ng-click='test("training")'>
                For training: Test without time and the final score won't affect your account score. Also, you can reproduce the audios all the times needed.
            </div>
            <div class="item item-text-wrap" ng-click='test("realTest")'>
                Real test: Test with time and the final score will affect your account score. Also, you can only reproduce the audios one time.
            </div>
        </div>
        <div ng-if="trainingTest">
            <div class="list" ng-if="questions.length != 0">
                <div class="item item-divider" ng-repeat="question in questions" ng-show="contador == $index">
                    <div>
                        <button class="button button-block " ng-click="playAudio()">
                            Play audio
                        </button>
                        <button class="button button-block " ng-click="stopAudio()">
                            Stop audio
                        </button>
                    </div>
                    Question {{::$index+1}}: {{::question.question}}
                    <div>
                        <img style="display: block;margin-left: auto;margin-right:auto; " ng-if="contador == $index" ng-src="{{question.image}}">
                    </div>
                    <button class="button button-block " ng-class="{'button-positive': !active1, 'button-energized': active1}" ng-click="continueQuestion(1); active1=!active1; active2=false; active3=false; active4=false">
                        {{::question.answer1}}
                    </button>
                    <button class="button button-block " ng-class="{'button-positive': !active2, 'button-energized': active2}" ng-click="continueQuestion(2); active2=!active2; active3=false; active1=false; active4=false">
                        {{::question.answer2}}
                    </button>
                    <button class="button button-block " ng-class="{'button-positive': !active3, 'button-energized': active3}" ng-click="continueQuestion(3); active3=!active3; active1=false; active2=false; active4=false">
                        {{::question.answer3}}
                    </button>
                    <button class="button button-block " ng-class="{'button-positive': !active4, 'button-energized': active4}" ng-click="continueQuestion(4); active4=!active4; active1=false; active2=false; active3=false">
                        {{::question.answer4}}
                    </button>
                </div>
            </div>
            <div ng-if="questions.length == 0" class="item item-text-wrap" style="background-color: #ffff99; text-align: center">
                <b> Looks like you already did all the tests available! </b>
            </div>
            <div class="row" ng-if="questions.length != 0">
                <div class="col col50">
                    <button class="button button-block button-positive" ng-click="backQuestion()" ng-show="contador>0">
                        Before question
                    </button>
                </div>
                <div class="col col50">
                    <button class="button button-block button-positive" ng-click="continueQuestion(undefined)" ng-show="!(contador+1==numberQuestions)">
                        Next question
                    </button>
                    <button class="button button-block button-balanced" ng-click="endTest()" ng-show="contador+1==numberQuestions">
                        Finish test
                    </button>
                </div>
            </div>
        </div>
        <div ng-if="realTest">
            <div class="row" ng-if="questions.length != 0">
                <b class="progress-wrapper col col-33 col-offset-33">
                    {{humanizeDurationTimer(timer,'s')}}
                </b>
            </div>
            <style type="text/css">
            .progress-wrapper {
                text-align: center;
                border: 3px solid black;
            }
            </style>
            <div class="list" ng-if="questions.length != 0">
                <div ng-repeat="question in questions" class="item item-divider" ng-if="contador == $index">
                    <div>
                        <button ng-disabled="question.played == true" class="button button-block " ng-click="playAudio()">
                            Play audio
                        </button>
                        <button class="button button-block " ng-click="stopAudio()">
                            Stop audio
                        </button>
                    </div>
                    Question {{::$index+1}}: {{::question.question}}
                    <div>
                        <img style="display: block;margin-left: auto;margin-right:auto; " ng-if="contador == $index" ng-src="{{question.image}}">
                    </div>
                    <button class="button button-block " ng-class="{'button-positive': !active1, 'button-energized': active1}" ng-click="continueQuestion(1); active1=!active1; active2=false; active3=false; active4=false">
                        {{::question.answer1}}
                    </button>
                    <button class="button button-block " ng-class="{'button-positive': !active2, 'button-energized': active2}" ng-click="continueQuestion(2); active2=!active2; active3=false; active1=false; active4=false">
                        {{::question.answer2}}
                    </button>
                    <button class="button button-block " ng-class="{'button-positive': !active3, 'button-energized': active3}" ng-click="continueQuestion(3); active3=!active3; active1=false; active2=false; active4=false">
                        {{::question.answer3}}
                    </button>
                    <button class="button button-block " ng-class="{'button-positive': !active4, 'button-energized': active4}" ng-click="continueQuestion(4); active4=!active4; active1=false; active2=false; active3=false">
                        {{::question.answer4}}
                    </button>
                </div>
            </div>
            <div ng-if="questions.length == 0" class="item item-text-wrap" style="background-color: #ffff99; text-align: center">
                <b> Looks like you already did all the tests available! </b>
            </div>
            <div class="row" ng-if="questions.length != 0">
                <div class="col col50">
                    <button class="button button-block button-positive" ng-click="backQuestion()" ng-show="contador>0">
                        Before question
                    </button>
                </div>
                <div class="col col50">
                    <button class="button button-block button-positive" ng-click="continueQuestion(undefined)" ng-show="!(contador+1==numberQuestions)">
                        Next question
                    </button>
                    <button class="button button-block button-balanced" ng-click="endTest()" ng-show="contador+1==numberQuestions">
                        Finish test
                    </button>
                </div>
            </div>
        </div>
        <div ng-if="testEnded">
            <div ng-if="questions.length == 0" class="item item-text-wrap" style="background-color: #ffff99; text-align: center">
                <b> Looks like you already did all the tests available! </b>
            </div>
        </div>
        <div ng-if="testEnded && questions.length != 0">
            <div class="card">
                <div class="item item-text-wrap" style="background-color: #ffff99; text-align: center">
                    <b>Test done! You got {{::correctas}} right answers from {{::numeroPreguntas}} questions in {{::tiempoUtilizado}} of {{::tiempoTotal}} available. Your score in this test is {{::resultadoFinal}}.
                    </b>
                    <b ng-if="realTestEnd">This test wasn't a training test so it will affect your accounts score.</b>
                    <b ng-if="trainingTestEnd">This test was a training test so it won't affect your accounts score.</b>
                    <div class="row">
                        <div class="col col50">
                            <button class="button button-block button-positive" ng-click="navigate('ranking')">
                                Ranking
                            </button>
                        </div>
                        <div class="col col50">
                            <button class="button button-block button-positive" ng-click="navigate('profile')">
                                My profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="question in questionsEndTest">
                <div class="item item-divider">Question {{::$index+1}}: {{::question.question}}
                    <button class="button button-block" ng-class="{'button-positive': ((question.selected != 1) && (question.correctAnswer != 1)) || (question.selected == 0), 'button-balanced': (question.selected == 1) && (question.correctAnswer == 1) || (question.selected != question.correctAnswer && question.selected != 1 && question.correctAnswer == 1) && (question.selected != 0), 'button-assertive': (question.selected !== question.correctAnswer) && (question.correctAnswer != 1) && (question.selected == 1)}">
                        {{::question.answer1}}
                    </button>
                    <button class="button button-block " ng-class="{'button-positive': ((question.selected != 2) && (question.correctAnswer != 2)) || (question.selected == 0), 'button-balanced': (question.selected == 2) && (question.correctAnswer == 2) || (question.selected != question.correctAnswer && question.selected != 2 && question.correctAnswer == 2) && (question.selected != 0)  , 'button-assertive': (question.selected !== question.correctAnswer) && (question.correctAnswer != 2) && (question.selected == 2)}">
                        {{::question.answer2}}
                    </button>
                    <button class="button button-block " ng-class="{'button-positive': ((question.selected != 3) && (question.correctAnswer != 3)) || (question.selected == 0), 'button-balanced': (question.selected == 3) && (question.correctAnswer == 3) || (question.selected != question.correctAnswer && question.selected != 3 && question.correctAnswer == 3)  && (question.selected != 0), 'button-assertive': (question.selected !== question.correctAnswer) && (question.correctAnswer != 3) && (question.selected == 3)}">
                        {{::question.answer3}}
                    </button>
                    <button class="button button-block " ng-class="{'button-positive': ((question.selected != 4) && (question.correctAnswer != 4)) || (question.selected == 0), 'button-balanced': (question.selected == 4) && (question.correctAnswer == 4) || (question.selected != question.correctAnswer && question.selected != 4 && question.correctAnswer == 4)  && (question.selected != 0), 'button-assertive': (question.selected !== question.correctAnswer) && (question.correctAnswer != 4) && (question.selected == 4)}">
                        {{::question.answer4}}
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
