<ion-view view-title="Test">
    <ion-content>
        <div class="list" ng-show="choose">
            <div class="item item-divider">
                Please choose a type of test
            </div>
            <div class="item" ng-click='test("training")'>
                For training: Test without time and the final score won't affect your account score
            </div>
            <div class="item" ng-click='test("realTest")'>
                Real test: Test with time and the final score will affect your account score
            </div>
        </div>
        <div ng-show="trainingTest">
            <div class="list">
                <div class="item item-divider">Question {{contador+1}}: {{question.question}}
                    <button class="button button-block button-positive" ng-click="continueQuestion(1)">
                        {{question.answer1}}
                    </button>
                    <button class="button button-block button-positive" ng-click="continueQuestion(2)">
                        {{question.answer2}}
                    </button>
                    <button class="button button-block button-positive" ng-click="continueQuestion(3)">
                        {{question.answer3}}
                    </button>
                    <button class="button button-block button-positive" ng-click="continueQuestion(4)">
                        {{question.answer4}}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col col50">
                    <button class="button button-block button-positive" ng-click="backQuestion()" ng-show="contador>0">
                        Before question
                    </button>
                </div>
                <div class="col col50">
                    <button class="button button-block button-positive" ng-click="continueQuestion(undefined)" ng-show="!(contador+1==numberQuestions)">
                        Next question
                    </button>
                    <button class="button button-block button-balanced" ng-click="endTest()" ng-show="contador+1==numberQuestions">
                        Finish test
                    </button>
                </div>
            </div>
        </div>
        <div ng-show="realTest">
            <div class="row">
                <b class="progress-wrapper col col-33 col-offset-33">
                    {{humanizeDurationTimer(timer,'s')}}
                </b>
            </div>
            <style type="text/css">
            .progress-wrapper {
                text-align: center;
                border: 3px solid black;
            }
            </style>
            <div class="list">
                <div class="item item-divider">Question {{contador+1}}: {{question.question}}
                    <button class="button button-block button-positive" ng-click="continueQuestion(1)">
                        {{question.answer1}}
                    </button>
                    <button class="button button-block button-positive" ng-click="continueQuestion(2)">
                        {{question.answer2}}
                    </button>
                    <button class="button button-block button-positive" ng-click="continueQuestion(3)">
                        {{question.answer3}}
                    </button>
                    <button class="button button-block button-positive" ng-click="continueQuestion(4)">
                        {{question.answer4}}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col col50">
                    <button class="button button-block button-positive" ng-click="backQuestion()" ng-show="contador>0">
                        Before question
                    </button>
                </div>
                <div class="col col50">
                    <button class="button button-block button-positive" ng-click="continueQuestion(undefined)" ng-show="!(contador+1==numberQuestions)">
                        Next question
                    </button>
                    <button class="button button-block button-balanced" ng-click="endTest()" ng-show="contador+1==numberQuestions">
                        Finish test
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
