<ion-view view-title="LOGIN">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input id='email' type="text" placeholder="Email">
            </label>
            <label class="item item-input">
                <input id='password' type="text" placeholder="Password">
            </label>
            <button ng-click="clkkk()" class="button button-small">
                Submit
            </button>
            <h1>{{prueba}}hh</h1>
            <button ng-click="clkkk()">Click</button>
        </div>
    </ion-content>
</ion-view>
