<ion-view>
    <ion-nav-bar class="bar-stable custom-header">
        <ion-nav-title style="color:white">
            My Profile
        </ion-nav-title>
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" style="color:white" menu-toggle="left" ng-show="$root.showMenuIcon">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list" ng-if="myProfileReady">
            <a class="item item-icon-left item-text-wrap">
                <i class="icon ion-person"></i> Full name: {{fullName}}
            </a>
            <a class="item item-icon-left item-text-wrap">
                <i class="icon ion-card"></i> DNI: {{dni}}
            </a>
            <a class="item item-icon-left item-text-wrap">
                <i class="icon ion-email"></i> Email: {{email}}
            </a>
            <a class="item item-icon-left item-icon-right item-text-wrap">
                <i class="icon ion-locked"></i> Password: ******
                <i class="icon ion-ios-compose-outline" ng-click="modifyPass()"></i>
            </a>
            <a class="item item-icon-left item-text-wrap">
                <i class="icon ion-ios-pulse-strong"></i> Score: {{score}} points
            </a>
            <a class="item item-icon-left item-text-wrap">
                <i class="icon ion-university"></i> Degree: {{::degree}}
            </a>
            <div class="item item-divider item-icon-left item-text-wrap">
                All tests done
                <i class="icon ion-ios-filing"></i>
            </div>
            <div ng-repeat="testDone in model.testDone" ng-if="model.testDone.length > 0" class="item item-text-wrap">
                <b ng-if="testDone.training == true">Training test |</b>
                <b ng-if="testDone.training == false">Real test | </b><b><span ng-bind="testDone.date | date:'dd/MM/yyyy'"></span> | </b>Number questions correct: {{::testDone.numberCorrect}} | Number questions wrong: {{::testDone.numberWrong}} | Time spent: {{::testDone.timeSpent}} seconds | Total score: {{::testDone.score}}
            </div>
            <div ng-if="model.testDone.length == 0" class="item item-text-wrap" style="text-align: center">
                <b> You don't have any test done yet. Go to Test in the menu and start! </b>
            </div>
        </div>
    </ion-content>
</ion-view>
