<ion-view view-title="My Profile">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left">
                <i class="icon ion-person"></i> Full name: {{fullName}}
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-person"></i> DNI: {{dni}}
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-email"></i> Email: {{email}}
            </a>
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-email"></i> Password: ******
                <i class="icon ion-ios-compose-outline" ng-click="modifyPass()"></i>
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-ios-pulse-strong"></i> Score: {{score}} points
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-university"></i> Degree: {{::degree}}
            </a>
        </div>
    </ion-content>
</ion-view>
