<ion-view view-title="Ranking">
    <ion-content>
        <div class="row">
            <div class="col col-90 item-text-wrap"><b>User</b></div>
            <div class="col item-text-wrap"><b>Score</b></div>
        </div>
        <div class="list" ng-if="rankingReady">
            <div class="item row item-text-wrap" ng-repeat='user in users'>
                <div class="col col-90">
                    <i class="icon ion-ios-star" ng-if="$index == 0"></i>
                    <i class="icon ion-ios-star-half" ng-if="$index == 1"></i>
                    <i class="icon ion-ios-star-outline" ng-if="$index == 2"></i> {{::user.email}}</div>
                <div class="col">{{::user.score}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>
