<ion-view view-title="Questions">
    <ion-content>
        <div class="list">
            <div ng-repeat="question in questions">
                <div class="item item-divider item-icon-right">
                    {{question.question}}
                    <i ng-click="deleteQuestion(question._id, question.question)" style="color:red" class="icon ion-close-circled"></i>
                </div>
                <div class="item item-icon-right">
                    Answer 1: {{question.answer1}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(question._id, 'answer1', question.answer1)"></i>
                </div>
                <div class="item item-icon-right">
                    Answer 2: {{question.answer2}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(question._id, 'answer2', question.answer2)"></i>
                </div>
                <div class="item item-icon-right">
                    Answer 3: {{question.answer3}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(question._id, 'answer3', question.answer3)"></i>
                </div>
                <div class="item item-icon-right">
                    Answer 4: {{question.answer4}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(question._id, 'answer4', question.answer4)"></i>
                </div>
                <div class="item item-icon-right">
                    Correct answer: Answer {{question.correctAnswer}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(question._id, 'correctAnswer', question.correctAnswer)"></i>
                </div>
                <div class="item item-icon-right">
                    Time to answer the question: {{question.timeToAnswer}} seconds
                    <i class="icon ion-ios-compose-outline" ng-click="modify(question._id, 'timeToAnswer', question.timeToAnswer)"></i>
                </div>
                <div class="item item-icon-right" ng-switch="question.test">
                    <div ng-switch-when="true">For real test
                        <span ng-if="question.training === true"> and for training</span>
                    </div>
                    <div ng-switch-when="false">For training</div>
                    <div ng-switch-default>Not for real test or training</div>
                    <i class="icon ion-ios-compose-outline" ng-click="modifyTrainingTest(question._id)"></i>
                </div>
                <div class="item">
                    <div>
                        Image: <img ng-if="question.image" ng-src="{{question.image}}"> <span ng-if="!question.image">Image not associated</span>
                    </div>
                    <div>
                        Audio:
                        <div ng-if="question.audio" ng-if="question.audio">{{question.audio}}
                            <button class="button button-block " ng-click="playAudio($index)">
                                Play audio
                            </button>
                            <button class="button button-block " ng-click="stopAudio()">
                                Stop audio
                            </button>
                        </div>
                        <span ng-if="!question.audio">Audio not associated</span>
                    </div>
                </div>
            </div>
            <div ng-if="questions.length == 0" class="item item-text-wrap" style="background-color: #ffff99; text-align: center">
                <b> There isn't any question yet! </b>
            </div>
        </div>
    </ion-content>
</ion-view>
