<ion-view>
<ion-nav-bar class="bar-stable custom-header">
        <ion-nav-title style="color:white">
            Questions
        </ion-nav-title>
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" style="color:white" menu-toggle="left" ng-show="$root.showMenuIcon">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <div ng-repeat="question in questions">
                <div class="item item-divider item-icon-right item-text-wrap">
                    {{question.question}}
                    <i ng-click="deleteQuestion(question._id, question.question)"  class="icon ion-close-circled icon-remove-custom"></i>
                </div>
                <div class="item item-icon-right item-text-wrap">
                    Answer 1: {{question.answer1}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(question._id, 'answer1', question.answer1)"></i>
                </div>
                <div class="item item-icon-right item-text-wrap">
                    Answer 2: {{question.answer2}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(question._id, 'answer2', question.answer2)"></i>
                </div>
                <div class="item item-icon-right item-text-wrap">
                    Answer 3: {{question.answer3}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(question._id, 'answer3', question.answer3)"></i>
                </div>
                <div class="item item-icon-right item-text-wrap">
                    Answer 4: {{question.answer4}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(question._id, 'answer4', question.answer4)"></i>
                </div>
                <div class="item item-icon-right item-text-wrap">
                    Correct answer: Answer {{question.correctAnswer}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(question._id, 'correctAnswer', question.correctAnswer)"></i>
                </div>
                <div class="item item-icon-right item-text-wrap">
                    Time to answer the question: {{question.timeToAnswer}} seconds
                    <i class="icon ion-ios-compose-outline" ng-click="modify(question._id, 'timeToAnswer', question.timeToAnswer)"></i>
                </div>
                <div class="item item-icon-right item-text-wrap" ng-switch="question.test">
                    <div ng-switch-when="true">For real test
                        <span ng-if="question.training === true"> and for training</span>
                    </div>
                    <div ng-switch-when="false">For training</div>
                    <div ng-switch-default>Not for real test or training</div>
                    <i class="icon ion-ios-compose-outline" ng-click="modifyTrainingTest(question._id)"></i>
                </div>
                <div class="item item-text-wrap" >
                    <div>
                        Image: <span ng-if="!question.image">Image not associated</span>
                        <div class="row"><img ng-if="question.image" ng-src="{{question.image}}"> </div>
                    </div>
                </div>
                <div class="item item-text-wrap">
                    Audio: <span ng-if="!question.audio"> Audio not associated</span>
                    <div ng-if="question.audio">
                        <div ng-if="question.audio">{{question.audio}}</div>
                        <div  class="row" >
                            <button class="col col50 button button-block button-balanced button-audio-play" ng-click="playAudio($index)">
                                Play audio
                            </button>
                            <button class="col col50 button button-block  button-calm button-audio-stop" ng-click="stopAudio()">
                                Stop audio
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="questions.length == 0" class="item item-text-wrap" style="background-color: #ffff99; text-align: center">
                <b> There isn't any question yet! </b>
            </div>
        </div>
    </ion-content>
</ion-view>
