<ion-view view-title="Statistics">
    <ion-content>
        <div class="row">
            <div class="col col-50" style="text-align: center;">
                <button class="button button-full button-positive" ng-click="byUser()">
                    By User
                </button>
            </div>
            <div class="col" style="text-align: center; ">
                <button class="button button-full button-positive" ng-click="byQuestion()">
                    By question
                </button>
            </div>
        </div>
        <div ng-if="byUserView == true">
            <div ng-repeat="user in users">
                <ion-item class="item-stable" ng-click="toggleGroup(user, $index)" ng-class="{active: isGroupShown(user)}">
                    <i class="icon" ng-class="isGroupShown(user) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{user.email}}
                </ion-item>
                <div class="item item-accordion item-text-wrap" style="text-align: center" ng-show="isGroupShown(user)">
                    Number of tests done by user: {{user.testDone.length}} | Time spent doing tests: {{user.totalTimeSpent}} | Number of correct answers: {{user.totalCorrectAnswers}} | Number of wrong answers: {{user.totalWrongAnswers}} | Number of training tests: {{user.trainingTests}} | Number of real tests: {{user.realTests}}
                </div>
                <ion-item class="item-accordion" ng-repeat="test in user.testDone" ng-show="isGroupShown(user)">
                    <b ng-if="test.training == true">Training test |</b>
                    <b ng-if="test.training == false">Real test | Total score: {{::test.score}} | <b ng-bind="test.date | date:'dd/MM/yyyy'"></b> | </b> Nº correct: {{::test.numberCorrect}} | Nº wrong: {{::test.numberWrong}} | Time spent: {{::test.timeSpent}} seconds | Time bonus: <span ng-if="test.timeBonus == true">yes </span><span ng-if="test.timeBonus == false">no.</span>
                </ion-item>
            </div>
        </div>
        <div ng-if="byQuestionView == true">
            <div ng-repeat="question in questions">
                <ion-item class="item-stable" ng-click="toggleGroupQuestion(question, $index)" ng-class="{active: isGroupShownQuestion(question)}">
                    <i class="icon" ng-class="isGroupShownQuestion(question) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{question.question}}
                </ion-item>
                <div class="item item-text-wrap" style=" text-align: center" ng-show="isGroupShownQuestion(question)">
                    Number of users that answered correct: {{question.usersCorrect.length}} |
                    Number of users that answered the question: {{question.usersDone.length}} |
                    <p><b>Users that answered correct:</b></p>
                    <div class="item item-text-wrap" ng-repeat="correct in question.usersCorrect">
                        {{correct.email}} | <span ng-if="correct.training == true">As traininig</span><span ng-if="correct.training == false">As real test</span>
                    </div>
                    <p><b>Users that answered the question:</b></p>
                    <div class="item item-text-wrap" ng-repeat="answered in question.usersDone">
                        {{answered.email}} | <span ng-if="answered.training == true">As traininig</span><span ng-if="answered.training == false">As real test</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
