<ion-view>
    <ion-nav-bar class="bar-stable custom-header">
        <ion-nav-title style="color:white">
            Users
        </ion-nav-title>
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" style="color:white" menu-toggle="left" ng-show="$root.showMenuIcon">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <div ng-repeat="user in users">
                <div class="item item-divider item-divider-custom item-icon-right item-text-wrap">
                    <div class=" users-name-custom">{{user.fullName}}</div>
                    <i ng-click="deleteUser(user._id, user.fullName)" class="icon ion-close-circled icon-remove-custom"></i>
                </div>
                <div class="item item-icon-right item-text-wrap">
                    Email: {{user.email}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(user._id, 'email', user.fullName)"></i>
                </div>
                <div class="item item-icon-right item-text-wrap">
                    Degree: {{user.degree}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(user._id, 'degree', user.fullName)"></i>
                </div>
                <div class="item item-icon-right item-text-wrap">
                    DNI: {{user.dni}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(user._id, 'dni', user.fullName)"></i>
                </div>
                <div class="item item-icon-right item-text-wrap">
                    Admin: {{user.admin}}
                    <i class="icon ion-ios-compose-outline" ng-click="modifyAdmin(user._id, user.fullName)"></i>
                </div>
            </div>
            <div ng-if="users.length == 0" class="item item-text-wrap" style="background-color: #ffff99; text-align: center">
                <b> There isn't any user yet! </b>
            </div>
        </div>
    </ion-content>
</ion-view>
