<ion-view view-title="Users">
    <ion-content>
        <div class="list">
            <div ng-repeat="user in users">
                <div class="item item-divider item-icon-right">
                    {{user.fullName}}
                    <i ng-click="deleteUser(user._id, user.fullName)" style="color:red" class="icon ion-close-circled"></i>
                </div>
                <div class="item item-icon-right">
                    Email: {{user.email}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(user._id, 'email', user.fullName)"></i>
                </div>
                <div class="item item-icon-right">
                    Degree: {{user.degree}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(user._id, 'degree', user.fullName)"></i>
                </div>
                <div class="item item-icon-right">
                    DNI: {{user.dni}}
                    <i class="icon ion-ios-compose-outline" ng-click="modify(user._id, 'dni', user.fullName)"></i>
                </div>
                <div class="item item-icon-right">
                    Admin: {{user.admin}}
                    <i class="icon ion-ios-compose-outline" ng-click="modifyAdmin(user._id, user.fullName)"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
